<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>京东签到助手</title>
</head>
<body>
<div>
    <a href="https://plogin.m.jd.com/user/login.action">移动端登录</a>
    <br>
    <a href="https://passport.jd.com/new/login.aspx">PC端登录</a>
</div>
<div>
    <button onclick="get_user_state()">查询状态</button>
    <table id="state" border="1">

    </table>
</div>
<textarea id="cookies"></textarea>
<button onclick="upload()">上传</button>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    var lunxun;

    function upload() {
        let cookie_json;
        try {
            cookie_json = JSON.parse(document.getElementById('cookies').value);
        }catch (e) {
            alert('请输入正确的json格式cookie!');
            return;
        }
        let s = '';
        for(let i of cookie_json){s += i.name+"="+i.value + ";"}
        let cookie = s.substr(0,s.length-1);
        axios.post('./cookie',{
            cookie:cookie
        }).then(function (response) {
            alert(response.data.msg);
        }).catch(function (error) {
            alert(error.response.data.msg);
	});
    }
/**
    function get_user_state() {
        let table = document.getElementById('state');
        table.innerHTML = '<tr>\n' +
            '            <th>昵称</th>\n' +
            '            <th>登陆时间</th>\n' +
            '            <th>当前状态</th>\n' +
            '        </tr>';
        axios.get('/api/state')
            .then(function (response) {
                let rsp = response.data;
                for(let user of rsp.data){
                    let tr = document.createElement('tr');
                    let nick = document.createElement('td');
                    let state = document.createElement('td');
                    let time = document.createElement('td');
                    nick.innerText = user.nick;
                    state.innerText = user.login;
                    if(user.login){
                        state.style = 'color:green'
                    }else{
                        state.style = 'color:red'
                    }
                    time.innerText = user.time;
                    tr.appendChild(nick);
                    tr.appendChild(time);
                    tr.appendChild(state);
                    table.appendChild(tr);
                }

            })
        }
    }
    **/
</script>
</html>
